<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hopebreastcancer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RiskHistoryList"></activity>
        <activity android:name=".XrayHistoryList" />
        <activity android:name=".DiagnoseHistoryList" />
        <activity android:name=".RiskHistory" />
        <activity android:name=".XrayHistory" />
        <activity android:name=".DiagnoseHistory" />
        <activity android:name=".RiskTest" />
        <activity android:name=".XrayTest" />
        <activity android:name=".DiagnoseTest" />
        <activity android:name=".HistoryOfExamination" />
        <activity android:name=".NewExamination" />
        <activity android:name=".Examination" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".phoneVerfication" />
        <activity android:name=".Profile" />
        <activity android:name=".updateUserInfo" />
        <activity android:name=".SignUp" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>